<div class="container view_noticia">
  <div class="span8">
    <div class="titulo_noticia">
      <div class="span8">
        <h3><strong>{{noticia.titulo}}</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p class="autor">
          por {{noticia.autor.nome}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span6">      
        <p class="texto_noticia">
            {{noticia.texto}}
        </p>
      </div>
    </div>
  </div>
</div>
